{% load i18n %}

<div class="object-widget-inclusion poll-widget-inclusion" id="poll-widget-oid-{{ object.id }}">
    <div class="title">{{ object.title }}</div>

    {% if can_vote %}
        <form action="{% url poll-widget-vote object.id %}" method="POST">
            {% csrf_token %}
            {{ form.as_div }}
            <div class="buttons">
                <input type="submit" value="{% trans "Vote" %}" />
            </div>
        </form>
    {% else %}
        <table class="poll-results" cellspacing="0">        
        {% for obj in object.polloption_set.all %}
            <tr class="poll-result-{{ forloop.counter }}">
                <td>{{ obj.title }}</td> 
                <td class="bar">
                    <div style="width: {{ obj.percentage }}%;">&nbsp;</div>
                </td>
                <td>
                    {{ obj.percentage|floatformat }}%
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    
</div>
